<div class="container">
    <div class="back">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </div>
    <div class="title">Forgot Password</div>
    <form>
      <div class="message">Please, enter your email address. You will receive a link to create a new password via email.</div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
    </form>
    <button class="sign-up-btn" mat-raised-button>
      <div class="label">Send</div>
    </button>
  </div>