<div class="container">
  <div class="back">
    <mat-icon>arrow_back_ios_new</mat-icon>
  </div>
  <div class="title">Sign up</div>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
  <div class="sign-in">
    <div class="text">Already have an account?</div>
    <mat-icon color="warn">trending_flat</mat-icon>
  </div>
  <button class="sign-up-btn" mat-raised-button>
    <div class="label">Sign Up</div>
  </button>
  <div class="content">
    Or sign up with social account
    <div class="social">
      <button mat-button>
        <img src="assets/images/google.svg">
      </button>
      <button mat-button>
        <img src="assets/images/facebook.svg">
      </button>
    </div>
  </div>
  <div class="divider"></div>
</div>